.homeContainer {
  padding: 0px;
  margin: 0px;
}
.hero {
  top: 87px;
  height: 100%;
  width: 100%;
  -gap: 3rem; /* space between image and text */
  position: relative;
}

.imageContainer {
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.heroImage {
  top: 87px;
  object-fit: cover; /* full image visible */
  border-radius: 10px;
  z-index: 2px;
}

.bckImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  -object-fit: cover; /* fills container without stretching */
  -min-height: 300px;
  filter: brightness(70%);
  transition: all 0.3s ease; /* smooth scaling on resize */
}

.textOverlay {
  position: absolute;
  top: 120px;
  left: 15%;
  font-size: 30px;
  z-index: 3;
  color: black;
}

.greeting {
  font-size: 3rem; /* bigger than normal h1 */
}
.name {
  font-size: 4rem; /* larger than greeting */
  font-weight: bold;
  margin-left: 80px;
}
