.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 17vh);
  overflow: hidden;
}

.hero {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4ch;
  gap: 3rem; /* space between image and text */
}

.heroImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* full image visible */
  border-radius: 10px;
  z-index: 1; /* above background image */
}

.bckImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container without stretching */
  z-index: -1; /* behind heroImage and text */
  filter: brightness(70%);
  transition: all 0.3s ease; /* smooth scaling on resize */
}

.textOverlay {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  z-index: 10;
  color: black;
}

.greeting {
  padding: 0;
  font-size: 3rem; /* bigger than normal h1 */
  margin: 0;
}
.name {
  font-size: 4rem; /* larger than greeting */
  font-weight: bold;
  margin: 0.5rem 0 0 15rem;
}

/* RESPONSIVE HERO TEXT */
@media (max-width: 1024px) {
  .textOverlay {
    top: 10%;
    left: 15%;
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .bckImage {
    top: 8%;
    object-position: center center; /* keeps focal point centered */
  }

  .greeting {
    font-size: 2.5rem;
  }

  .name {
    margin-left: 120px;
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .textOverlay {
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    padding: 0 1rem;
    color: black;
  }

  .bckImage {
    object-position: top center; /* adjust so main part remains visible */
  }

  .greeting {
    font-size: 2rem;
  }

  .name {
    margin-left: 80px;
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .textOverlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  .bckImage {
    object-position: top center;
    filter: brightness(60%); /* optional: more contrast for small screens */
  }

  .greeting {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2rem;
  }
}
